* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

/* Colors */
:root {
  --color-primary: #0078d4;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scale 4s infinite;
}

.logo {
  height: 70px;
  width: 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2px;
}

.text {
  margin-left: 18px;
  font-size: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary);
  font-weight: 500;
}

.square {
  background-color: var(--color-primary);
}

/* Animation */
@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}